.ngx-mat-drp-presets-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.ngx-mat-drp-presets-list li {
    margin: 1px;
    padding: 10px;
    cursor: pointer;
    background: #fafafa;
    color: #3f51b5;
    user-select: none;
    display: inline-block;
}

.ngx-mat-drp-presets-list li:hover {
    background: #3f51b5;
    color: #fff;
}
